mixin header()
	header.header&attributes(attributes)
		.container.header__container
			.container__column
				a.header__logo(href="")
					icon-svg(name="logo")
					icon-svg(name="logo-mob")
			.container__column
				a.button.header__button-order(href="#")
					span.button__content Заказать презентацию
